<p id="notice"><%= notice %></p>

<p>
  <b>User facebook:</b>
  <%= @connection.user_facebook_id %>
</p>

<p>
  <b>Friend facebook:</b>
  <%= @connection.friend_facebook_id %>
</p>

<p>
  <b>Last action:</b>
  <%= @connection.last_action %>
</p>


<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
