<table>
  <tr>
    <th>User ID</th>
    <th>Name</th>
	<th>Date Created</th>
  </tr>
  <% @users.each do |user| -%>
  <tr>
	<td><%= user.id -%></td>
	<td><%= user.name -%></td>
	<td><%= user.created_at -%></td>
  </tr>
  <% end -%>
</table>

<p><strong>Users: <%= @user_count -%></strong></p>
<p><strong>MethodCallLogs: <%= @methods_run -%></strong></p>

<p><strong>Workers: <%= @num_workers -%></strong></p>

<p><strong>Delayed Jobs: <%= @job_count -%></strong></p>


<table>
  <tr>
    <th>Job ID</th>
    <th>Handler</th>
	<th>Date Created</th>
  </tr>
  <% @jobs.each do |job| -%>
  <tr>
	<td><%= job.id -%></td>
	<td><%= job.handler -%></td>
	<td><%= job.created_at -%></td>
	<td><%= link_to 'Delete this job', destroy_job_path(job), :confirm => "Are you sure?", :method => :delete -%></td>
  </tr>
  <% end -%>
<% @methods_all do |meth| -%>
	<tr>
		<td><%= meth.user_id -%></td>
		<td><%= meth.action -%></td>
		<td><%= meth.created_at -%></td>
	</tr>
<% end -%>
</table>

