<% if session[:user_id] -%>

	<div class="sign-in-area">
		Signed in as <%= user.name -%>.  <%= link_to 'Sign out', signout_path -%> or <%= link_to image_tag('/images/logout_small.gif', :alt => "Log out of Facebook"), facebook_signout_path -%><br />
		<span class="difference"><%= link_to 'What\'s the difference?', '/FAQ#logout_buttons' -%></span>
<% else -%>
<div class="sign-in-area">
	<%= link_to image_tag('/images/fb-login-button.png', :alt => 'Sign in with Facebook'), facebook_login_path, :alt => 'Sign in with Facebook', :class => "image_link" -%>
<% end -%>
</div>