<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title -%></title>
<link rel="shortcut icon" href="/images/favicon.ico" >
	<%= javascript_include_tag 'jquery-1.5.min.js' %>
	
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
	<%= render :partial => "/layouts/google_analytics" -%>

</head>
<body>
	<%= raw(display_flash_messages) %>
	
	<div class="main-holder">
		<div class="top-button">
			<%= link_to 'Home', root_path -%>
		</div>
		<div class="top-button">
			<%= link_to 'FAQ', faq_path -%>
		</div>
		
		<% if session[:user_id] %>
			<div class="top-button">
				<%= link_to 'My Profile', user_path_path -%>
			</div>
		<% end %>
		<%= render :partial => 'layouts/sign_in_area', :locals => { :user => @user} -%>
		<div class="clear"></div>
		
		<div class="main-content">
		
			<h1><%= yield :title -%></h1>
			
			<% unless ENV["RAILS_ENV"] == "production" -%><!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style "
			addthis:url="http://defriendalize.com"
			addthis:title="Defriendalize.com - track your Facebook friend list."
			addthis:description="Defriendalize.com tracks your Facebook friend list so you can keep tabs on all your 'friends'.  Join now for free at Defriendalize.com.">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_counter addthis_pill_style"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d6e0bc871bf1f66"></script>
			<!-- AddThis Button END -->
			<% end -%>
			<div class="clear"></div>
			
			<%= yield %>
	
			<%= render :partial => 'layouts/rhs_ads' -%>
	
			<div class="clear"></div>

		</div>
	  
	  	<div class="footer clearfix">
			<ul>
				<li class="footer-tag">
					<%= link_to 'Privacy Policy', privacy_policy_path -%>
				</li>
				<li class="footer-tag">
					<%= link_to 'About Us', about_us_path -%>
				</li>
				<li class="footer-tag">
					<%= link_to 'Contact Us', contact_us_path -%>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>

