<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title -%></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
	<%= render :partial => "/layouts/google_analytics" -%>

</head>
<body>
	<div class="main-holder">
		<div class="top-button">
			<%= link_to 'Home', canvas_index_path -%>
		</div>
		<div class="top-button">
			<%= link_to 'FAQ', canvas_faq_path -%>
		</div>
		
		<% if session[:user_id] %>
			<div class="top-button">
				<%= link_to 'My Profile', canvas_profile_path -%>
			</div>
		<% end %>
		
		<%= render :partial => 'layouts/sign_in_area', :locals => { :user => @user} -%>
		<div class="clear"></div>
		<div class="main-content">
			<%= yield %>
	
			<%= render :partial => 'layouts/rhs_ads' -%>
	
			<div class="clear"></div>

		</div>
	  
		<div class="footer-tag">
			<%= link_to 'Privacy Policy', canvas_privacy_path -%>
		</div>
		<div class="footer-tag">
			<%= link_to 'About Us', canvas_about_us_path -%>
		</div>
		<div class="footer-tag">
			<%= link_to 'Contact Us', canvas_contact_us_path -%>
		</div>
	</div>
</body>
</html>
